
@{
    ViewData["Title"] = "Confirm email";
}

    <section class="small-about intro-sm padding-top-150 padding-bottom-150">
        <div class="container">
        </div>
    </section>

<div class="container">
    <h2 style="text-align:center">@ViewData["Message"]</h2>
</div>

