@model SE.Model.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Войти";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">

    <div class="container">
        <div class="row" style="text-align:center">
            <div style="width: 50%; margin: 0 auto;">
                <h1>ВХОД</h1>
            </div>
        </div>
        <div class="row" style="text-align:center">
            <div style="width: 50%; margin: 0 auto;">
                @if (Model.Message != null)
                {
                    <h5 style="text-align:center;">@Model.Message</h5>
                }
                <form class="form-text" asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row  ">
                        <div class="col-md-12 ">
                            <label>
                                Электронная почта
                                <input type="text" value="" placeholder="adress@mail.ru" asp-for="Email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </label>
                        </div>
                        <div class="col-md-12">
                            <label>
                                Пароль
                                <input type="password" placeholder="Пароль" asp-for="Password" class="form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </label>
                        </div>
                        <div class="col-md-6 " style="margin: 30px auto;">
                            <button type="submit" class="btn">Войти</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="text-align:center">
            <div style="margin: 0px auto; width: 50%;">
                <p>Еще не зарегистрированы? <a href="~/Registration"> Создать аккаунт.</a></p>
            </div>
        </div>
    </div>


</div>
