@inject SE.BLL.Interfaces.IUserService userService
<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Знатоки безопасности - @ViewData["Title"]</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/ionicons.min.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/p_style.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/modernizr.js"></script>

</head>
<body>
    @{
        var isAuthenticated = false;
        var isAdmin = false;

        if (User.Identity.IsAuthenticated && await userService.IsExists(User.Identity.Name))
        {
            isAuthenticated = true;
            isAdmin = userService.GetRole(User.Identity.Name).Equals("Admin");
        }
    }
    <label hidden id="IsAuthenticated">@isAuthenticated</label>
    <!-- Прелоадер -->
    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <div class="wrap">
        <header class="sticky">
            <div class="container-full">
                <!-- лого -->
                <div class="logo"><a href="~/Home/Index"><img class="img-responsive" src="~/images/logo.png" alt=""></a></div>
                <nav class="navbar ownmenu navbar-expand-lg">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarNav">
                        <ul class="nav">
                            <li> <a href="~/Home/Index">Главная </a> </li>
                            <li>
                                <a href="~/Material/EducatorsHome">Воспитателям </a>
                                <ul class="dropdown-menu">
                                    <li> <a href="~/Material/EducatorsMaterials?theme=1">Пожарная безопасность</a> </li>
                                    <li> <a href="~/Material/EducatorsMaterials?theme=2">Безопасность в быту</a> </li>
                                    <li> <a href="~/Material/EducatorsMaterials?theme=3">ПДД</a></li>
                                    <li> <a href="~/Material/EducatorsMaterials?theme=4">Человек и природа</a></li>
                                    <li> <a href="~/Material/EducatorsMaterials?theme=5">Ребенок и общество </a></li>
                                    <li> <a href="~/Material/EducatorsMaterials?theme=6">Моя родина</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="~/Material/ParentsHome">Родителям </a>
                            </li>

                            @if (isAdmin)
                            {
                                <li> <a href="~/Admin/Index">ADMIN</a> </li>
                            }
                        </ul>
                    </div>
                    <!-- Вход и поиск-->
                    <div class="nav-right">
                        <ul class="navbar-right">
                            @if (!isAuthenticated)
                            {
                                <li> <a href="~/Account/Login"><i class="lnr lnr-enter"></i></a> </li>
                            }
                            else
                            {
                                <li> <a href="~/Home/PersonalAccount"><i class="lnr lnr-user"></i></a></li>
                                <li> <a href="~/Account/Logout"> <i class="lnr lnr-exit"></i></a> </li>
                            }
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- нужен ли он  тут  <div class="clearfix"></div> -->
        </header>

        @RenderBody()
        <div class="navbar-fixed-bottom">
            <footer>
                <div class="clearfix"></div>
                <div class="container">
                    <div class="row">

                        <div class="col-md-9">
                            <div class="about-footer">
                                <img class="margin-bottom-30" src="~/images/footer-logo.png" alt="">
                                <p> Создатель: <br> Гришаева Евгения</p>
                            </div>
                        </div>
                        <!-- повтор меню -->
                        <div class="col-md-3">
                            <h6>Меню</h6>
                            <ul class="link">
                                <li><a href="~/Home/Index"> Главная</a></li>
                                <li><a href="~/Material/EducatorsHome"> Воспитателям</a></li>
                                <li><a href="~/Material/ParentsHome"> Родителям</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="rights">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <p>©  2020 "Знатоки безопасности" Все права защищены :) </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/own-menu.js"></script>
    <script src="~/js/jquery.lighter.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/lazysizes.min.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>