<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    -->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Знатоки безопасности</title>

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/ionicons.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/p_style.css">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="font/flaticon.css" rel="stylesheet">

    <!-- JavaScripts -->
    <script src="js/modernizr.js"></script>

    <!-- Online Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Poppins:300,400,500,600,700|Montserrat:300,400,500,600,700,800"
          rel="stylesheet">
</head>
<body>
    <!-- Прелоадер -->
    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- Wrap -->
    <div id="wrap">
        <!-- хедер -->
        <header class="sticky">
            <div class="container-full">
                <!-- лого -->
                <div class="logo"><a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a></div>
                <nav class="navbar ownmenu navbar-expand-lg">
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarNav">
                        <ul class="nav">
                            <li> <a href="index.html">Главная </a> </li>
                            <li class="dropdown active">
                                <a href="vospitatelyam-temy.html">Воспитателям </a>
                                <ul class="dropdown-menu">
                                    <li> <a href="#">Пожарная безопасность</a> </li>
                                    <li> <a href="#">Безопасность в быту</a> </li>
                                    <li> <a href="#">ПДД</a></li>
                                    <li> <a href="#">Ребенок и общество </a></li>
                                    <li> <a href="#">Человек и природа</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="roditelyam-temy.html">Родителям </a>
                            </li>
                            <li> <a href="about-us_01.html"></a> </li>

                        </ul>
                    </div>
                    <!-- Вход и поиск-->
                    <div class="nav-right">
                        <ul class="navbar-right">
                            <!-- USER INFO -->
                            <li><a href="login.html"><i class="lnr lnr-user"></i> </a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- нужен ли он  тут  <div class="clearfix"></div> -->
        </header>
        <!-- Главное -->
        <main class="cd-main-content">
            <section class="banner">
                <div class="position-center-center">
                    <div class="container">
                        <h4>Заголовок</h4>
                        <ol class="breadcrumb">
                            <li><a href="#">Главная</a></li>
                            <li class="active">пппп</li>
                        </ol>
                    </div>
                </div>
            </section>

            <section class="container-fluid content">
                <div class="row">
                    <div class="wrap_dop_info col-sm-12 col-md-3 col-lg-3">
                        <h5>Уточнить результаты:</h5>
                        <div class="dop_info">
                            <select name="dop_option" id="dop_option" class="custom-select">
                                <option selected>Видео, презентации, викторины</option>
                                <option value="1">Иллюстрации</option>
                                <option value="2">Конспекты</option>
                                <option value="3">Информация для родителей</option>
                            </select>
                        </div>
                    </div>
                    <div class="wrap_main_info col-sm-12  col-md-9 col-lg-9">

                        <div class="search col-lg-8 col-sm-12">
                            <input class="form-control" type="search" placeholder="Поиск">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="wrap_sort">
                            <p class="sort_text">Сортировать по:</p>
                            <select name="sort_type" id="sort_type" class="sort_type">
                                <option selected>По алфавиту (от А до Я)</option>
                                <option value="1">По алфавиту (от Я до А)</option>
                                <option value="2">По дате (сначала новые)</option>
                                <option value="3">По дате (сначала старые)</option>
                            </select>

                        </div>

                        <div class="row wrap_items">

                            <div class="info_item">
                                <div class="wrap_img_item">
                                    <a href="#">
                                        <img src="images/access-img-1.jpg" alt="">
                                    </a>
                                </div>
                                <a href="#" class="item_text">
                                    q1111111Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                                    sapiente
                                </a>
                                <div class="dop_info_item">
                                    <div class="dop_info_rait">
                                        <p>Рейтинг:</p>
                                        <span></span>
                                    </div>
                                    <div class="dop_info_view">
                                        <p>Кол-во отзывов:</p>
                                        <span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="info_item">
                                <div class="wrap_img_item">
                                    <a href="#">
                                        <img src="images/insta-post-2.jpg" alt="">
                                    </a>
                                </div>
                                <a href="#" class="item_text">
                                    22222Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                                    sapiente
                                </a>
                                <div class="dop_info_item">
                                    <div class="dop_info_rait">
                                        <p>Рейтинг:</p>
                                        <span></span>
                                    </div>
                                    <div class="dop_info_view">
                                        <p>Кол-во отзывов:</p>
                                        <span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="info_item">
                                <div class="wrap_img_item">
                                    <a href="#">
                                        <img src="images/item-img-1-1-1.jpg" alt="">
                                    </a>
                                </div>
                                <a href="#" class="item_text">
                                    333333Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                                    sapiente
                                </a>
                                <div class="dop_info_item">
                                    <div class="dop_info_rait">
                                        <p>Рейтинг:</p>
                                        <span></span>
                                    </div>
                                    <div class="dop_info_view">
                                        <p>Кол-во отзывов:</p>
                                        <span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="info_item">
                                <div class="wrap_img_item">
                                    <a href="#">
                                        <img src="images/item-img-1-1-1.jpg" alt="">
                                    </a>
                                </div>
                                <a href="#" class="item_text">
                                    444444Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                                    sapiente
                                </a>
                                <div class="dop_info_item">
                                    <div class="dop_info_rait">
                                        <p>Рейтинг:</p>
                                        <span></span>
                                    </div>
                                    <div class="dop_info_view">
                                        <p>Кол-во отзывов:</p>
                                        <span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="info_item">
                                <div class="wrap_img_item">
                                    <a href="#">
                                        <img src="images/access-img-1.jpg" alt="">
                                    </a>
                                </div>
                                <a href="#" class="item_text">
                                    55555Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                                    sapiente
                                </a>
                                <div class="dop_info_item">
                                    <div class="dop_info_rait">
                                        <p>Рейтинг:</p>
                                        <span></span>
                                    </div>
                                    <div class="dop_info_view">
                                        <p>Кол-во отзывов:</p>
                                        <span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="info_item">
                                <div class="wrap_img_item">
                                    <a href="#">
                                        <img src="images/insta-post-2.jpg" alt="">
                                    </a>
                                </div>
                                <a href="#" class="item_text">
                                    666666Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                                    sapiente
                                </a>
                                <div class="dop_info_item">
                                    <div class="dop_info_rait">
                                        <p>Рейтинг:</p>
                                        <span></span>
                                    </div>
                                    <div class="dop_info_view">
                                        <p>Кол-во отзывов:</p>
                                        <span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="info_item">
                                <div class="wrap_img_item">
                                    <a href="#">
                                        <img src="images/insta-post-2.jpg" alt="">
                                    </a>
                                </div>
                                <a href="#" class="item_text">
                                    77777777777Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                                    sapiente
                                </a>
                                <div class="dop_info_item">
                                    <div class="dop_info_rait">
                                        <p>Рейтинг:</p>
                                        <span></span>
                                    </div>
                                    <div class="dop_info_view">
                                        <p>Кол-во отзывов:</p>
                                        <span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="info_item">
                                <div class="wrap_img_item">
                                    <a href="#">
                                        <img src="images/item-img-1-1-1.jpg" alt="">
                                    </a>
                                </div>
                                <a href="#" class="item_text">
                                    8888888Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                                    sapiente
                                </a>
                                <div class="dop_info_item">
                                    <div class="dop_info_rait">
                                        <p>Рейтинг:</p>
                                        <span></span>
                                    </div>
                                    <div class="dop_info_view">
                                        <p>Кол-во отзывов:</p>
                                        <span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="info_item">
                                <div class="wrap_img_item">
                                    <a href="#">
                                        <img src="images/access-img-1.jpg" alt="">
                                    </a>
                                </div>
                                <a href="#" class="item_text">
                                    9999999999Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta,
                                    sapiente
                                </a>
                                <div class="dop_info_item">
                                    <div class="dop_info_rait">
                                        <p>Рейтинг:</p>
                                        <span></span>
                                    </div>
                                    <div class="dop_info_view">
                                        <p>Кол-во отзывов:</p>
                                        <span></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="wrap_btn">
                            <a href="#" class="btn btn-inverse">Ещё</a>
                        </div>
                    </div>


                </div>
            </section>

            <!-- футер -->
            <footer>
                <div class="container-full">
                </div>
                <div class="clearfix"></div>
                <div class="container">
                    <div class="row">

                        <div class="col-md-9">
                            <div class="about-footer">
                                <img class="margin-bottom-30" src="images/logo-foot.png" alt="">
                                <p> Создатель: <br> Гришаева Евгения</p>
                            </div>
                        </div>
                        <!-- повтор меню -->
                        <div class="col-md-3">
                            <h6>Меню</h6>
                            <ul class="link">
                                <li><a href="#."> Главная</a></li>
                                <li><a href="#."> Воспитателям</a></li>
                                <li><a href="#."> Родителям</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="rights">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <p>© 2020 "Знатоки безопасности" Все права защищены :) </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </main>
        <!-- скролл вверх  -->
        <a href="#" class="
           
           "><i class="fa fa-angle-up"></i></a>
    </div>


    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/own-menu.js"></script>
    <script src="js/jquery.lighter.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/lazysizes.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>