.vs/SecurityExperts/v16/Server/sqlite3/db.lock
.vs/SecurityExperts/v16/Server/sqlite3/storage.ide
.vs/SecurityExperts/v16/Server/sqlite3/storage.ide-shm
.vs/SecurityExperts/v16/Server/sqlite3/storage.ide-wal
