
@{
    ViewData["Title"] = "Почему дети обманывают?";
}
<div id="content">
    <section class="banner ">
        <!-- -->
        <div class="position-center-center">
            <div class="container">
                <h4>Почему дети обманывают?</h4>
                <ol class="breadcrumb">
                    <li><a href="~/Home/Index">Главная</a></li>
                    <li class="active">Родителям</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- Blog List -->
    <section class="blog-list blog-list-3 single-post padding-top-100">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <!-- Статья -->
                    <article>
                        <!-- картинки -->
                        <img class="img-responsive" src="~/images/lie.jpg" alt="">
                        <!-- заголовок -->
                        <div class="post-tittle left">
                            <a href="#." class="tittle">Почему дети обманывают?</a>
                            <!-- инфа поста -->
                            <span><i class="primary-color icon-user"></i> Админ</span> <span><i class="primary-color icon-calendar"></i> 15 Марта 2020</span>
                        </div>
                        <!-- контент -->
                        <div class="text-left">
                            <p>
                                В жизни каждого родителя рано или поздно наступает момент, когда он сталкивается с детским обманом. «Как он мог меня обмануть? Ведь я всегда доверяла ему, учила только хорошему, а он предал мое доверие, подвел…», — так могут думать некоторые родители, сталкиваясь с обманом со стороны своих детей. В его лжи им видится злонамеренный обман, ставящий под сомнение саму любовь и привязанность.<br>
                                <br>
                                Хотя первые зачатки лжи могут появляться и в 2 года, до 4 лет малыши не умеют лгать вообще. У них не настолько развито логическое мышление, чтобы придумать схему обмана, отсутствует способность смотреть на вещи с точки зрения другого человека, не настолько развито воображение, чтобы придумать несуществующие детали. Они с трудом отличают реальность от фантазий, легко отвлекаются и забывают, что делали или говорили (и куда девалась конфета?). Иногда малыши путают причину и следствие. (Они вполне могут решить, что мячик упал, потому что ваза разбилась.)
                            </p>
                            <h5 class="margin-top-80 margin-bottom-30">Причины лжи</h5>
                            <p>
                                Систематическая ложь является симптомом какого-то неблагополучия в жизни ребенка. Это свидетельство не моральных, а скорее психологических проблем ребенка. <br>
                                1.  Одна из главных причин лжи в любом возрасте — <b>страх</b>. Ребенок лжет, потому что боится, что его накажут. Малыши легко признаются в проступках, пока их за эти проступки не начинают наказывать. Если кроха молчит в ответ на грозный вопрос родителя: «Это ты сделал?», значит, опыт наказания у него уже есть. Это молчание — по сути, первая в жизни ложь. Придумать историю в свое оправдание малыш еще не может, остается только молчать или плакать, или отрицать очевидное.
                                <br>
                                <br>
                                Родители могут быть слишком жестокими или непоследовательными. Ребенок может быть слишком трудным, чтобы соответствовать их ожиданиям, а родители могут быть неспособны принимать ребенка таким, какой он есть. Тогда ребенок вынужден прибегать ко лжи <b>ради самосохранения</b>. Такая ложь должна вызывать тревогу, потому что между вами и ребенком утрачивается доверие,<b> он вас боится</b>.
                            </p>
                            <img class="img-responsive margin-top-50 margin-bottom-50" src="~/images/zapret.jpg" alt="">
                            <p>
                                2. Детский обман может быть спровоцирован <b>большим количеством запретов</b>. Если взрослые постоянно твердят «нельзя», тогда, с трудом перенося обилие запретов и соблазнов, ребенок идет на хитрость. Так маленький обман становится <b>способом получить то, о чем он мечтает</b>, что невозможно добыть другим путем, или путь этот пока еще не ясен.
                                <br>
                            </p>
                            <h5 class="margin-top-80 margin-bottom-30">Причины лжи</h5>
                            <p>

                                Если Вы вдруг обнаружили, что ребенок соврал вам, не стоит тут же кричать, ругать ребенка, устраивать допросы, «выбивая» из ребенка правду. Агрессивная реакция на обман ребенка лишь усугубляет его желание дальше лгать и изворачиваться, чтобы избежать наказания. Не делайте вид, что вы поверили, а спокойно скажите, что эти слова вызывают у вас сомнение. В таких случаях нет ничего лучшего, чем спокойный и рассудительный разговор без повышенных тонов. Обязательно расскажите ребенку о своих чувствах, которые вы испытали, раскрыв его обман. Ребенок должен услышать от вас о вашей обиде, увидеть, что вы искренне расстроены. Родительское отношение ко лжи должно быть вполне четким и определенным. С одной стороны, не надо требовать признаний, допросов и суда над «преступником». С другой стороны, нужно, не колеблясь, называть вещи своими именами.
                                <br>
                                В любом случае ребенок должен знать, что лгать родителям нет необходимости. Задумайтесь, что мешает ребенку быть откровенным с вами, почему он скрывает те или иные факты. Постарайтесь стать со своим ребенком близкими людьми, которым ложь просто не нужна.
                                <br>
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</div>

