@{
    ViewData["Title"] = "Главная страница";
}
<main class="cd-main-content">
    <section class="simple-head" data-stellar-background-ratio="0.5">
        <div class="position-center-center">
            <!-- Container Fluid -->
            <div class="container-full">
                <div class="text-center col-lg-12 no-padding">
                    <h1 class="extra-huge-text">Знатоки безопасности</h1>
                    <h4>Сайт для воспитателей и родителей</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- Воспитателям или родителям -->
    <div id="content">
        <div class="container">
            <div class="row  text-center margin-top-30 margin-bottom-30">
                <div class="col-6">
                    <a href="~/Material/EducatorsHome"> <img src="~/images/V-img-lg.svg" alt="" class="img-fluid"></a>

                </div>
                <div class="col-6">
                    <a href="~/Material/ParentsHome"> <img src="~/images/R-img-lg.svg" alt="" class="img-fluid"> </a>
                </div>
            </div>

            <section class="padding-top-80 padding-bottom-80">
                <div class="container-full">
                    <div class="heading text-center">
                        <h4>Вдохновляющий заголовок</h4>
                        <span>Какой-нибудь текст </span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
