@{
    ViewData["Title"] = "Главная страница";
}
<main class="cd-main-content">
    <section class="simple-head" data-stellar-background-ratio="0.5">
        <div class="position-center-center">
            <!-- Container Fluid -->
            <div class="container-full">
                <div class="text-center col-lg-12 no-padding">
                    <h1 class="extra-huge-text">Знатоки безопасности</h1>
                    <h4>Сайт для воспитателей и родителей</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- Воспитателям или родителям -->
    <div id="content">
        <div class="container">
            <div class="row  text-center margin-top-30">
                 
                <div class="col-md-12 col-lg-6 margin-bottom-30">
                    <a href="~/Material/ParentsHome"> <img src="~/images/PARENTS.svg" alt="" class="img-fluid"> </a>
                </div>
                <div class="col-md-12 col-lg-6  margin-bottom-30">
                    <a href="~/Material/EducatorsHome"> <img src="~/images/educator.svg" alt="" class="img-fluid"></a>
                </div>
            </div>

            <section class="padding-top-80 padding-bottom-80">
                <div class="container-full">
                    <div class="heading text-center">
                        <h4>Безопасность детей – приоритет для взрослых!</h4>
                        <span>
                            Родители всегда надеются, что каким-то образом их дети сумеют избежать несчастных случаев на протяжении всей жизни. Это, разумеется, невозможно.
                            Но существуют способы свести несчастные случаи к минимуму. Рекомендуется начинать обучение правилам безопасностного поведения с раннего возраста.
                            <b> <br />Для этого создан сайт, на котором вы можете найти необходимую информацию!</b>

                        </span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
