@{
    ViewData["Title"] = "Воспитателям";
}

<main class="cd-main-content">
    <section class="banner">
        <div class="position-center-center">
            <div class="container">
                <h4>Темы для воспитателей</h4>
                <ol class="breadcrumb">
                    <li><a href="~/Home/Index">Главная</a></li>
                    <li class="active">Воспитателям</li>
                </ol>
            </div>
        </div>
    </section>
    <section>
        <div class="row no-gutters text-center ">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row theme-for-left theme-for-1">
                    <div><img src="~/images/320-280.png" style="width: 100%" alt=""></div>
                    <div>
                        <p> <a class="theme-title" href="~/Material/EducatorsMaterials?theme=1"> Пожарная безопасность </a></p>
                        <p>Текст 1</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row theme-for-left theme-for-2">
                    <div><img src="~/images/320-280.png" style="width: 100%" alt=""></div>
                    <div>
                        <p><a class="theme-title" href="~/Material/EducatorsMaterials?theme=2"> Безопасность в быту </a></p>
                        <p>Текст 2</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row no-gutters text-center ">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row theme-for-right theme-for-3">
                    <div>

                        <p><a class="theme-title" href="~/Material/EducatorsMaterials?theme=3"> ПДД </a></p>
                        <p>Текст 3</p>

                    </div>
                    <div><img src="~/images/320-280.png" style="width: 100%" alt=""></div>

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row theme-for-right theme-for-4">
                    <div>
                        <p><a class="theme-title" href="~/Material/EducatorsMaterials?theme=4"> Ребенок и общество</a></p>
                        <p>Текст 4</p>
                    </div>
                    <div><img src="~/images/320-280.png" style="width: 100%" alt=""></div>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row no-gutters text-center ">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row theme-for-left theme-for-5">
                    <div><img src="~/images/320-280.png" style="width: 100%" alt=""></div>
                    <div>
                        <p><a class="theme-title" href="~/Material/EducatorsMaterials?theme=5"> Человек и природа </a></p>
                        <p>Текст 1</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row theme-for-left theme-for-6">
                    <div><img src="~/images/320-280.png" style="width: 100%" alt=""></div>
                    <div>
                        <p><a class="theme-title" href="~/Material/EducatorsMaterials?theme=6"> Моя родина </a></p>
                        <p>Текст 2</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="padding-top-80 padding-bottom-80">
        <div class="container-full">
            <div class="heading text-center">
                <h4>Вы также можете предложить свой материал!</h4>
                <span>Для этого войдите в <a href="~/Home/PersonalAccount"> личный кабинет</a>.</span>
            </div>
        </div>
    </section>
</main>