@{
    ViewData["Title"] = "Воспитателям";
}

    <main class="cd-main-content">
        <section class="banner">
            <div class="position-center-center">
                <div class="container">
                    <h4>Темы для воспитателей</h4>
                    <ol class="breadcrumb">
                        <li><a href="~/Home/Index">Главная</a></li>
                        <li class="active">Воспитателям</li>
                    </ol>
                </div>
            </div>
        </section>
        <section class="section-educators">
            <div class="row no-gutters text-center row-theme">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="row theme-for-left theme-for-1">
                        <div><img src="~/images/moya-rodina.jpg" style="width: 100%" alt=""></div>
                        <div>
                            <h4 class="theme-h4"><a class="theme-title" href="~/Material/EducatorsMaterials?theme=6"> Моя родина </a></h4>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="row theme-for-left theme-for-2">
                        <div><img src="~/images/bezopasnost-v-bytu..jpg" style="width: 100%" alt=""></div>
                        <div>
                            <h4 class="theme-h4"><a class="theme-title" href="~/Material/EducatorsMaterials?theme=2"> Безопасность в быту </a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters text-center row-theme">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="row theme-for-right theme-for-3">
                        <div>
                            <h4 class="theme-h4"> <a class="theme-title" href="~/Material/EducatorsMaterials?theme=1"> Пожарная безопасность </a></h4>
                        </div>
                        <div><img src="~/images/pozharnaya-bezopasnost.jpg" style="width: 100%" alt=""></div>


                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="row theme-for-right theme-for-4">
                        <div>
                            <h4 class="theme-h4"><a class="theme-title" href="~/Material/EducatorsMaterials?theme=3"> ПДД </a></h4>
                        </div>
                        <div><img src="~/images/pdd.jpg" style="width: 100%" alt=""></div>


                    </div>
                </div>
            </div>
            <div class="row no-gutters text-center row-theme">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="row theme-for-left theme-for-5">
                        <div><img src="~/images/rebenok-i-obshchestvo.jpg" style="width: 100%" alt=""></div>

                        <div>
                            <h4 class="theme-h4"><a class="theme-title" href="~/Material/EducatorsMaterials?theme=4"> Ребенок и общество</a></h4>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="row theme-for-left theme-for-6">
                        <div><img src="~/images/chelovek-i-priroda.jpg" style="width: 100%" alt=""></div>

                        <div>
                            <h4 class="theme-h4"><a class="theme-title" href="~/Material/EducatorsMaterials?theme=5"> Человек и природа </a></h4>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <section class="margin-top-90 padding-bottom-10">
            <div class="container-full">
                <div class="heading text-center">
                    <h4>Вы также можете предложить свой материал!</h4>
                    <span>Для этого войдите в <a href="~/Home/PersonalAccount"> личный кабинет</a>.</span>
                </div>
            </div>
        </section>
        <section class="small-about">
            <div class="container-full">
                <div class="news-letter padding-top-150 padding-bottom-150">
                    <div class="row">
                        <div class="col-lg-6">

                        </div>
                        <div class="col-lg-6" style="color:#fff;">
                            <h4 style="color:#fff;">ВИДЕОРОЛИКИ О БЕЗОПАСНОСТИ!</h4>
                            <p class="game-text ">Всё о безопасности на нашем <b>YouTube</b> канале</p>

                            <a target="_blank" href="https://www.youtube.com/channel/UCEwEMXYudjDRkDzYPiydi2g" class="btn ">Смотреть</a>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>