@model SE.Model.ViewModels.EducatorsMaterialsViewModel
@using SE.Common
@{
    ViewData["Title"] = "EducatorsHome";
}

<ul>
    @foreach (var theme in Enum.GetValues(typeof(Enums.Theme)))
    {
        <li><a href="~/Material/EducatorsMaterials?theme=@((int)theme)">@theme.ToString()</a></li>
    }
</ul>