@using SE.Common
@using SE.Model.ViewModels
@model MaterialViewModel

@{
    ViewData["Title"] = "Новый материал";
}
<style>
    .custom-file-input ~ .custom-file-label::after {
        content: "Выбрать"
    }
</style>
<section class="banner">
    <div class="position-center-center">
        <div class="container">
            <h4>Предолжить материал для воспитателей</h4>
            <ol class="breadcrumb">
                <li><a href="~/Home/PersonalAccount">Личный кабинет</a></li>
                <li class="active">Предложить материал</li>
            </ol>
        </div>
    </div>
</section>

<section class="container content">
    <div class="form-horizontal">
        <form asp-action="NewMaterial" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-md-4">
                    <h6>Название</h6>
                </div>
                <div class="col-md-8 md-form">
                    <input placeholder="Введите название материала (не более 50 символов)" asp-for="Name" class="form-control material" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <h6>Описание</h6>
                </div>
                <div class="col-md-8 md-form">
                    <textarea placeholder="Введите описание материала (не более 500 символов)" asp-for="Description" class="form-control material"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <h6>Тема материала</h6>
                </div>
                <div class="col-md-8 md-form">
                    <select asp-for="Theme" asp-items="Html.GetEnumSelectList<Enums.Theme>()" class="form-control material"></select>
                    <span asp-validation-for="Theme" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <h6>Тип материала</h6>
                </div>
                <div class="col-md-8 md-form">
                    <select asp-for="Theme" asp-items="Html.GetEnumSelectList<Enums.Type>()" class="form-control material"></select>
                    <span asp-validation-for="Theme" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <h6>Ссылка для скачивания</h6>
                </div>
                <div class="col-md-8 md-form">
                    <textarea placeholder="Вставьте актуальную ссылку для скачивания" asp-for="DownloadingLink" class="form-control material"></textarea>
                    <span asp-validation-for="DownloadingLink" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <h6>Источники информации</h6>
                </div>
                <div class="col-md-8 md-form">
                    <input placeholder="Укажите источники информации, если имеются (не более 500 символов)" asp-for="SourceOfInformation" class="form-control material" />
                    <span asp-validation-for="SourceOfInformation" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <h6>Выберите изображение</h6>
                </div>
                <div class="col-md-8 md-form">
                    <div class="input-group" style="max-width: 700px;">
                        <div class="custom-file">
                            <input type="file" asp-for="Picture" accept="image/*" name="Picture" class="custom-file-input" id="Picture" aria-describedby="inputGroupFileAddon01">
                            <label id="PictureText" class="custom-file-label" for="inputGroupFile01">Выберите изображение</label>
                        </div>
                    </div>
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 text-center" style="margin: 30px auto;">
                <button type="submit" class="btn">Предложить</button>
            </div>
        </form>
    </div>
</section>

<script>
    $("#Picture").change(function () {
        $("#PictureText").text("Изображение выбрано");
    });
</script>

