@{
    ViewData["Title"] = "Родителям";
}
<main class="cd-main-content">
    <section class="banner">
        <div class="position-center-center">
            <div class="container">
                <h4>Информация для родителей</h4>
                <ol class="breadcrumb">
                    <li><a href="#">Главная</a></li>
                    <li class="active">Родителям</li>
                </ol>
            </div>
        </div>
    </section>
    <!--  -->
    <section>
        <div class="row no-gutters text-center ">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row theme-for-left theme-for-1">
                    <div><img src="~/images/320-280.png" style="width: 100%" alt=""></div>
                    <div>
                        <p> <a class="theme-title" href="~/Home/ChildrenLie"> Почему дети обманывают? </a></p>
                        <p>В жизни каждого родителя рано или поздно наступает момент, когда он сталкивается с детским обманом...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row theme-for-left theme-for-2">
                    <div><img src="~/images/320-280.png" style="width: 100%" alt=""></div>
                    <div>
                        <p>Заголов2</p>
                        <p>Текст 2</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row no-gutters text-center ">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row theme-for-right theme-for-3">
                    <div>
                        <p>Заголов3</p>
                        <p>Текст 3</p>
                    </div>
                    <div><img src="~/images/320-280.png" style="width: 100%" alt=""></div>

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row theme-for-right theme-for-4">
                    <div>
                        <p>Заголов4</p>
                        <p>Текст 4</p>
                    </div>
                    <div><img src="~/images/320-280.png" style="width: 100%" alt=""></div>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row no-gutters text-center ">
            <div class="col-lg-6 col-md-12 col-sm-12 theme-for-5">
                <div class="row theme-for-left">
                    <div><img src="~/images/320-280.png" style="width: 100%" alt=""></div>
                    <div>
                        <p>Заголов5</p>
                        <p>Текст 1</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row theme-for-left theme-for-6">
                    <div><img src="~/images/320-280.png" style="width: 100%" alt=""></div>
                    <div>
                        <p>Заголов6</p>
                        <p>Текст 2</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- About -->
    <section class="small-about">
        <div class="container-full">
            <div class="news-letter padding-top-150 padding-bottom-150">
                <div class="row">
                    <div class="col-lg-6">

                    </div>
                    <div class="col-lg-6">
                        <p class="game-text-title ">Один день пожарного</p>
                        <p class="game-text ">Позвольте своему ребенку погрузиться в увлекательную игру 'Один день пожарного', подробни игры по ссылке.</p>

                        <a href="#." class="btn btn-inverse">Играть</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>