@{
    ViewData["Title"] = "Родителям";
}
<main class="cd-main-content">
    <section class="banner">
        <div class="position-center-center">
            <div class="container">
                <h4>Информация для родителей</h4>
                <ol class="breadcrumb">
                    <li><a href="~/Home/Index">Главная</a></li>
                    <li class="active">Родителям</li>
                </ol>
            </div>
        </div>
    </section>
    <!--  -->

    <section >
        <div class="row no-gutters text-center row-theme">
            <div class="col-lg-6  col-sm-12">
                <div class="row theme-for-left theme-for-1">
                    <div><img src="~/images/r-lie.jpg" style="width: 100%" alt=""></div>
                    <div>
                        <h3 class="theme-h3"> <a class="theme-title" href="~/Home/ChildrenLie"> Почему дети обманывают? </a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6  col-sm-12">
                <div class="row theme-for-left theme-for-2">
                    <div><img src="~/images/r-alone-at-home.jpg" style="width: 100%" alt=""></div>
                    <div>
                       <h3 class="theme-h3"><a class="theme-title" href="~/Home/ChildrenLie">Один дома. Кто стучится ко мне в дверь?</a></h3> 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row no-gutters text-center row-theme" >
            <div class="col-lg-6  col-sm-12">
                <div class="row theme-for-right theme-for-3">
                    <div>
                        <h3 class="theme-h3" style="padding-left:30px;"><a class="theme-title" href="~/Home/ChildrenLie">Пожарная безопасность </a></h3>
                    </div>
                    <div><img src="~/images/r-fire-safety.jpg" style="width: 100%" alt=""></div>

                </div>
            </div>
            <div class="col-lg-6  col-sm-12">
                <div class="row theme-for-right theme-for-4">
                    <div>
                        <h3 class="theme-h3"><a class="theme-title" href="~/Home/ChildrenLie">Компьютерная зависимость</a></h3>
                    </div>
                    <div><img src="~/images/r-comp-addiction.jpg" style="width: 100%" alt=""></div>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row no-gutters text-center row-theme ">
            <div class="col-lg-6  col-sm-12 theme-for-5">
                <div class="row theme-for-left">
                    <div><img src="~/images/r-ppd.jpg" style="width: 100%" alt=""></div>
                    <div>
                        <h3 class="theme-h3"><a class="theme-title" href="~/Home/ChildrenLie">Правила дорожного движения</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6  col-sm-12">
                <div class="row theme-for-left theme-for-6">
                    <div><img src="~/images/r-sport.jpg" style="width: 100%" alt=""></div>
                    <div>
                        <h3 class="theme-h3"><a class="theme-title" href="~/Home/ChildrenLie">Бережём здоровье с детства</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- About -->
    <section class="small-about">
        <div class="container-full">
            <div class="news-letter padding-top-150 padding-bottom-150 margin-top-60">
                <div class="row">
                    <div class="col-lg-6">

                    </div>
                    <div class="col-lg-6" style="color:#fff;">
                        <h4 style="color:#fff;">ВИДЕОРОЛИКИ О БЕЗОПАСНОСТИ!</h4>
                        <p class="game-text ">Всё о безопасности на нашем <b>YouTube</b> канале</p>

                        <a target="_blank" href="https://www.youtube.com/channel/UCEwEMXYudjDRkDzYPiydi2g" class="btn ">Смотреть</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>