@{
    ViewData["Title"] = "Главная - Админ";
}
<style>
    .tab-content > .tab-pane {
        display: none;
    }
    .tab-content > .active {
        display: block;
    }
</style>
<div id="content" style="margin-top:60px">
    <div class="container-fluid">
        <!-- одна строка -->
        @*<div class="row no-gutters text-center ">
            <div class="col-1">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a id="mainLink" class="nav-link active admin-link" data-toggle="tab" href="#materials">MATERIALS</a>
                    </li>
                    <li class="nav-item">
                        <a id="mainLink" class="nav-link admin-link" data-toggle="tab" href="#users">USERS</a>
                    </li>
                </ul>
            </div>
            <div class="col-11">
                <div class="tab-content animated animatedFadeInUp fadeInUp">
                    <div id="materials" class="container tab-pane active" style="margin-left:inherit !important">
                        <div id="materials-container">
                            @await Component.InvokeAsync("Materials")
                        </div>
                    </div>
                    <div id="users" class="container tab-pane fade">
                        <div id="users-container">
                            @await Component.InvokeAsync("Users")
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-1"></div>
            <div class="col-lg-10 item-decribe">
                <div class="tab-info">
                    <button class="tablinks" onclick="openInfo(event, 'Материалы')" id="defaultOpen">Материалы</button>
                    <button class="tablinks" onclick="openInfo(event, 'Пользователи')">Пользователи</button>
                </div>
                <div id="Материалы" class="tabcontent" style="display: block;margin-bottom: 150px;">
                    <div id="materials-container">
                        @await Component.InvokeAsync("Materials")
                    </div>
                </div>
                <div id="Пользователи" class="tabcontent">
                    <div id="users-container">
                        @await Component.InvokeAsync("Users")
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
